*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: rgb(243, 242, 242);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    text-align: center;
}

form input{
    width: 15rem;
    padding: 0.4rem;
    border-radius: 20px;
    outline: none;
}